
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252C;
  font-family: Inter, sans-serif;
  color: #F5F5F5;
  /* font-size: 40px; */
}

.app {
    background-color: #1A1B21;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    border-radius: 10px;
    width: 20rem;
    /* width: 15rem; */
    /* margin: 50px 170px; */
    margin: 1rem auto;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-content: center; */
    justify-items: center;
}

.pp {
    border-radius: 10px 10px 0 0;
    width: 20rem;
    /* margin: 50px 170px; */
}

.name {
    margin: 0;
    padding: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
}

.title {
    margin: 0;
    font-size: 1.2rem;
}
.info > .title {
    color: #F3BF99;
}

.website {
    padding-top: 1.2rem;
}

p {
    margin: 0;
    font-size: 1rem;
}

div.buttons {
    padding: 0.3rem; /* 5px */
    /* border: 2px solid pink; */
}

button {
    margin: 0.63rem 0; /* 10px */
    border-radius: 6px;
    font-size: 1rem;
    /* font-weight: 500; */
    border: 0;
    height: 2.1rem;
    width: 8rem;
}
.email {
    /* padding-top: 0px; */
    color: #1A1B21;
    margin-right: 0.3rem;
}

.linkedin {
    /* padding-top: 0px; */
    background-color: #5093E2;
    color: #F5F5F5;
    margin-left: 0.3rem;
}

.icon {
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

.about {
    margin: 1.2rem 1.7rem;
    font-weight: 700;
    /* border: 2px red solid; */
}

.desc {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

.interest {
    margin: 1.2rem 1.7rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.footer {
    display: flex;
    background-color: #161619;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.footer > .icon {
    font-size: 2rem;
    padding: 0.8rem;
}

@media only screen and (min-width: 900px) {
    /* body {
      background-color: lightblue;
    } */
    .app {
        width: 40rem;
    }
    .pp {
        width: 40rem;
        /* margin: 50px 170px; */
    }
    .email {
        margin-right: 0.6rem;
    }
    
    .linkedin {
        margin-left: 0.6rem;
    }
}